img  {
    height: 500px;
    width: 80%;
    
}

#mycarousel {
    margin: 100px;
}

#duckduckgoose {
    margin-bottom:  20px;
} 

#peach {
    height: 500px;
    width:500px;
}

#rac {
    height: 500p;
    width: 500px;
}

#smal {
    height: 400px;
    width:500px;
}

#snaksk {
    height: 400px;
    width: 500px;
}
#tigr {
    height:500px;
    width: 500px;
}

#tigbig {
    height: 500px;
    width: 500px;
}

#kje {
    height: 500px;
    width: 1005px;
}